<html>
  <head>
  </head>
  <body>
    <h2>Add a Task: </h2>
    <form action="/" method="post">
      <input type="text" name="create_task">
      <input type="submit" value="Create Task">
    </form>
   </body>
</html>